<header class="app-header">
  <div class="header-left">
    <nav class="breadcrumb">
      <a routerLink="/" class="breadcrumb-item breadcrumb-item--link">
        <span nz-icon nzType="appstore" nzTheme="fill"></span>
        <span>NexusERP</span>
      </a>
      <span class="breadcrumb-sep">
        <span nz-icon nzType="right"></span>
      </span>
      <span class="breadcrumb-item breadcrumb-item--current">Procurement</span>
    </nav>
  </div>

  <div class="header-right">
    @if (user$ | async; as user) {

      <!-- Notification dropdown -->
      <nz-badge [nzCount]="unreadCount" [nzOverflowCount]="9" nzSize="small" class="header-badge">
        <button
          nz-button nzType="text" class="header-btn"
          nz-dropdown [nzDropdownMenu]="notifMenu" nzTrigger="click" nzPlacement="bottomRight"
        >
          <span nz-icon nzType="bell"></span>
        </button>
      </nz-badge>

      <nz-dropdown-menu #notifMenu="nzDropdownMenu">
        <div class="notif-panel">
          <div class="notif-header">
            <span class="notif-title">Notifications</span>
            @if (unreadCount > 0) {
              <button class="notif-mark-read" (click)="markAllRead()">Mark all read</button>
            }
          </div>
          <div class="notif-list">
            @for (n of notifications; track n.id) {
              <div class="notif-item" [class.notif-item--unread]="!n.read">
                <div class="notif-icon" [style.background]="n.iconColor + '18'" [style.color]="n.iconColor">
                  <span nz-icon [nzType]="n.icon"></span>
                </div>
                <div class="notif-body">
                  <div class="notif-item-title">{{ n.title }}</div>
                  <div class="notif-item-desc">{{ n.desc }}</div>
                  <div class="notif-item-time">{{ n.time }}</div>
                </div>
                @if (!n.read) {
                  <span class="notif-dot"></span>
                }
              </div>
            }
          </div>
          <div class="notif-footer">
            <a class="notif-view-all">View all notifications</a>
          </div>
        </div>
      </nz-dropdown-menu>

      <div class="header-divider"></div>

      <!-- User profile dropdown -->
      <div nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click" nzPlacement="bottomRight">
        <div class="header-user">
          <div class="header-avatar">{{ user.email[0].toUpperCase() }}</div>
          <div class="header-user-info">
            <span class="header-user-name">{{ user.email.split('@')[0] }}</span>
            <span class="header-user-role">Administrator</span>
          </div>
          <span nz-icon nzType="down" class="header-user-chevron"></span>
        </div>
      </div>

      <nz-dropdown-menu #userMenu="nzDropdownMenu">
        <ul nz-menu class="user-menu">
          <li class="user-menu-profile">
            <div class="user-menu-avatar">{{ user.email[0].toUpperCase() }}</div>
            <div class="user-menu-info">
              <div class="user-menu-name">{{ user.email.split('@')[0] }}</div>
              <div class="user-menu-email">{{ user.email }}</div>
            </div>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item>
            <span nz-icon nzType="user"></span>
            <span>My Profile</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="setting"></span>
            <span>Settings</span>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="question-circle"></span>
            <span>Help & Support</span>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item class="menu-item-danger" (click)="logout()">
            <span nz-icon nzType="logout"></span>
            <span>Sign out</span>
          </li>
        </ul>
      </nz-dropdown-menu>

    }
  </div>
</header>
